body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: white;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.array-container {
    display: flex;
    margin-top: 20px;
}

.bar {
    width: 20px;
    margin: 0 2px;
    background-color: #61dafb;
    transition: height 0.2s;
}
